.black_background {
	width: 100%;
	min-height: 100vh;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	background-color: black;
	"
}

.middle_background {
	height: 600px;
	width: 100%;
	float: left
}

.bottom_background {
	height: 50px;
	width: 100%;
	background-color: purple;
	float: left
}

a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	width: 300px;
	height: 50px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	background-color: purple;
	color: white;
}

.header {
	color: purple;
	font-family: Tahoma;
	font-weight: 900;
	font-size: 150;
	background: -webkit-linear-gradient(#eee, purple);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header2 {
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header3 {
	font-family: Calibri;
	font-size: 11px;
	text-align: left;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}