.information {
	color: white;
	font-family: Tahoma;
	font-weight: 900;
	font-size: 30;
	background: -webkit-linear-gradient(#eee, purple);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
	text-align: center;
	position: relative;
	float: left;
	top: 100;
	left: 50%;
	transform: translate(-50%, -50%);
}

.button_div {
	position: absolute;
	top: 180;
	left: 50%;
	transform: translate(-50%, -50%);
}

.black_background {
	width: 100%; 
	min-height: 100vh;
    max-height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
    margin: 0 auto; 
    background-color: black;"	
}

.middle_background {
	border-radius: 10px;
	position: absolute; 
	top: 2%; 
	left: 2%; 
	width: 96%; 
	height: 82%; 
	margin: 0 auto; 
	display: block;
}

.top_background {
	font-family: sans-serif;
	font-size: 18 px;
	font-weight: bold;
	position: absolute; 
	top: 2%; 
	left: 2%; 
	width: 96%; 
	height: 5%; 
	margin: 0 auto;
	color: white
}

.top_background input[type=text] {
	position: relative; 
    margin: 0 auto;
    font-size:16px;
    text-align: center;
}

.bottom_background{
	position: absolute; 
	top: 86%; 
	left: 2%; 
	width: 96%; 
	height: 5%; 
	margin: 0 auto"
}

table {
	border-radius: 10px;
	background-color: #EFCDEF;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	color: #c123de;
}

td {
	text-align: left;
	padding: 8px;
}

th {
	padding-left: 10px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 25px;
	text-align: left;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd));
	background:-moz-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-webkit-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-o-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:-ms-linear-gradient(top, #c123de 5%, #a20dbd 100%);
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd',GradientType=0);
	background-color:#c123de;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de));
	background:-moz-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-webkit-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-o-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:-ms-linear-gradient(top, #a20dbd 5%, #c123de 100%);
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de',GradientType=0);
	background-color:#a20dbd;
}
.myButton:active {
	position:relative;
	top:1px;
}

tr:nth-child(even) {
	background-color: white;
}
input[type=text] {
    position: relative; 
    top: 2%; 
    left: 2%; 
    width: 96%; 
    height: 96%; 
    margin: 0 auto;
    font-size:20px;
}