.header {
	color: white;
	font-family: Calibri;
	font-weight: bold;
	font-size: 20px;
	text-align: left;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header2 {
	font-family: Calibri;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	position: relative;
	float: left;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header3 {
	font-family: Calibri;
	font-size: 11px;
	text-align: left;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	background-color: white;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}